/* Header start */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
      overflow-x: hidden  ;   
    background: #fff;
    min-height: 100vh;
    }
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}

#header .logo{
    background: linear-gradient(to right, #f32170 ,   #2196f3 ,#ff00eb);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text ; 
     font-weight: 700;
    font-size: 5vh;
    font-family: 'Rancho', cursive;
}

#header ul{
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
    left: -10%;
    font-family:'Rancho', cursive;
}
#header ul li{

    list-style: none;
    margin-left: 10px;
}

#header  ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: red;
    border-radius: 20px;
}
#header ul li a:hover{
    background: red;
    color: #fff;  
}

/* header end */

/* main start */
.rectangle{
    height: 50px;
  width: 100px;
  background-color: #555;
}

/* main finish */































/* footer start */
footer{
    position:absolute;
    top: 505% ;
     background: gray;
     height: auto;
     width: 100%;
     font-family:  'Stint Ultra Condensed', cursive;
     padding-top: 40px;
     color: whitesmoke;
 }
 .footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }
 .footer-content h2{
     font-size: 1.8rem;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 3rem;
 } 
 .footer-content p{
     max-width: 500px;
     margin: 10px auto;
     line-height: 28px;
     font-size: 14px;
 }
 
 .icons{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;
 }
 
 .icons li{
     margin: 0 10px;
 }
 .icons a{
     text-decoration: none;
     color: whitesmoke;
 }
 .icons a i{
     font-size: 1.1rem;
     transition: color 1s ease;
 }
 
 .icons a:hover i {
     color: turquoise;
 }
 .footer-bottom{
     background: gray;
     width: 100%;
     padding: 20px 0;
     text-align: center;
 }
 
 .footer-bottom p{
     font-size: 14px;
     word-spacing: 2px;
     text-transform: capitalize;
     text-align: center;
 }
 
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }